#rule-resume-card {
  @media (max-width: 880px) {
    display: none;
  }

  .bloc {
    display: flex;
    margin: 0;
    width: 100%;
  }

  .activity-card {
    color: #000;
    margin-top: 20px;
    padding-bottom: 17px;
    width: 20%;
    margin-right: 12px;
    background-color: white;
    min-height: 225%;
    box-shadow: 0 6px 17px #7777778f;
    border-radius: 10px;

    &.hvr-bob {
      box-shadow: 0 6px 9px #7777771f !important;
    }

    .activity-title {
      font-weight: bolder;
      font-size: 14px;
      line-height: 16px;
      color: #01253A;
      background-color: #FDC00F;
      padding: 23px;
      text-align: center;
      border: 8px solid #fff;
      border-radius: 10px;

      .icon-option {
        font-size: 25px !important;
        padding: 0 10px 0 0;
        position: relative;
        top: 3px;
      }

    }

    .activity-description {
      font-weight: 300;
      padding: 10px;
      font-size: 12px;
      line-height: 160%;
      letter-spacing: 0.05em;
      font-feature-settings: "tnum"on, "lnum"on, "kern"off;

      .block-text {
        display: block;
      }
    }

    .link {
      bottom: 0;
      display: flex;
      text-decoration: none;

      i {
        position: relative;
        font-size: 20px;
        font-weight: bold;
        padding-left: 500px;
        line-height: 1;
        padding-top: 10px;
        padding-left: 146px;
      }

      .premier {
        margin-top: -16px;
      }

      .troisieme {
        margin-top: 22px;
      }

      .quatrieme {
        margin-top: 3px;
      }

      .cinquieme {
        margin-top: 2px;
      }

      .second {
        margin-top: 4px;
      }
    }
  }

}