@import "./scss/variables";
@import "./scss/GameMainPage.scss";
@import "./scss/GameWelcomePage.scss";
@import "./scss/PlayerOptionCard.scss";
@import "./scss/RoundCompareCard.scss";
@import "./scss/RoundInfoCard.scss";
@import "./scss/RoundResultCard.scss";
@import "./scss/RoundStartCard.scss";
@import "./scss/RuleResume.scss";
@import "./scss/ScoreboardCard.scss";
@import "./scss/SingleRoundScore.scss";
@import "./scss/WelcomeMessage.scss";

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
}
